html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      margin-bottom: 60px;
      font-family: 'Raleway', sans-serif;
  }
  
  .hoverable {
      cursor: pointer;
  }
  
  .details-container img {
      object-fit: contain;
  }
  
  .price-container {
      font-weight: bold;
  }