<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow main-nav">
        <div class="container-fluid">

            <a class="navbar-brand" [routerLink]="['/']">
                <h4>ArtLocal</h4>
            </a>

            <div *ngIf="authService.isLoggedIn | async then customerLoggedInBlock else customerLoggedOutBlock"></div>
            <ng-template #customerLoggedInBlock>
                <div class="navbar-user-container">
                    
                    <p class="white-text">Welcome!</p>
                    <a class="text-link" [routerLink]="['/']" (click)="logOut()">
                        <p>{{ currentCustomerName}}</p>
                        <p>Log Out</p>
                    </a>
                </div>
            </ng-template>
            <ng-template #customerLoggedOutBlock>
                <a class="text-link" [routerLink]="['/login']">
                    <p>Log In</p>
                </a>
            </ng-template>

        </div>
    </nav>
</header>

