<div class="container pb-5 pt-3">
    <div class="pb-3">
        <h2>Checkout</h2>
    </div>
    <div class="cards-container row">
      <div class="cards-form col-lg-6 col-md-6 col-sm-12 col-12">
        <form #form="ngForm" (ngSubmit)="onSubmit()">         
        <div class="checkout-note-container container">
          <h4>Note:</h4>
          <p>Orders may be placed upon all pieces of art, however all artwork must be picked up in person at the ArtLocal gallery located in Portland, OR. Pricing of different works may vary depending on the artist and gallery preferences. Asking price for pieces will be given in person.</p>
        </div>
        <div class="pl-0">
            <a class="mr-3 mb-2 pb-3">
              <button type="button" class="general-button-green" (click)="onSubmit()">Place Order</button>
            </a>
            <a [routerLink]="['/']" class="mb-2">
              <button class="general-button-black">Cancel Order</button>
            </a>
        </div>
        </form>
      </div>
    </div>
  </div>