
form .form-group {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="text"], form input[type="password"], form input[type="number"] {
    width: 100%;

    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.form-group-inline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form-group-inline div {
    width: 30%;
}

.form-group-inline-half {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form-group-inline-half div {
    width: 48%;
}


.mr-3 {
    margin-right: 10px;
}

.mb-2 {
    margin-bottom: 10px;
}

.pb-3 {
    padding-bottom: 10px !important;
}

.button-container {
    display: inline;
    padding-bottom: 10px;
}

.checkout-note-container {
    border:1px solid #dcdcdc;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
}