<div class="pt-4">
  <h1>Artstyle Data</h1>

  <div class="cards-container row">

    <div class="cards-container row col-lg-6 col-md-12">
      <div class="cards-form">
        <form #form="ngForm">         
        <div class="form-group">                            
            <label for="style">Style</label>                   
            <input type="text" name="style" [(ngModel)]="artstyle.style">
        </div>
        <div class="form-group">                            
            <label for="description">Description</label>                   
            <input type="text" name="description" [(ngModel)]="artstyle.description">
        </div>
        <div class="pl-0">
            <a class="mr-3 mb-2 pb-3">
              <button class="general-button-green" (click)="onSubmit()">Save</button>
            </a>
            <a class="mb-2">
              <button class="general-button-black" (click)="clearForm()">Cancel</button>
            </a>
        </div>
        </form>
      </div>
    </div>

    <div class="cards-grid col-lg-6 col-md-12">
      <div class="records-row" *ngFor="let artstyle of artstyles">
        <div class="records-row-details" (click)="populateForm(artstyle)" >
          <span>{{ artstyle.style }}</span>
          <div class="records-row-action">
            <a>
              <i class="fa-solid fa-file-pen"></i>
            </a>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>

