<div class="pt-4">
  <h1>Invoice Data</h1>
  <div class="cards-container row general-container">
    <div class="cards-container row col-lg-6 col-md-12">
      <div class="cards-form">
        <form #form="ngForm">         
        <div class="form-group">                            
            <label for="artworkId">Artwork</label>                   
            <p name="artworkId">{{invoice.artworkId}}</p>
        </div>
        <div class="form-group">                            
          <label for="customerId">Customer</label>                   
          <p name="artworkId">{{invoice.customerId}}</p>
        </div>
        <div class="form-group">                            
          <label for="dateBought">Date Bought</label>                   
          <p name="dateBought">{{invoice.dateBought}}</p>
        </div>
        <div class="form-group">                            
          <label for="sellPrice">Sell Price</label>                   
          <p name="sellPrice">{{invoice.sellPrice}}</p>
        </div>
        <div class="pl-0">
            <a class="mb-2">
              <button class="general-button-black" (click)="clearForm()">Clear</button>
            </a>
        </div>
        </form>
      </div>
    </div>
    <div class="cards-grid col-lg-6 col-md-12">
      <div class="records-row" *ngFor="let invoice of invoices">
        <div class="records-row-details" (click)="populateForm(invoice)" >
          <span>{{ invoice.artworkId }}</span>
        </div>
      </div>
    </div> 
  </div>
</div>

