<div class="pt-5">
  <h1>Customer Data</h1>
  <div class="cards-container row general-container">
    <div class="cards-container row col-lg-6 col-md-12">
      <div class="cards-form">
        <form #form="ngForm">         
        <div class="form-group form-group-inline-half">
          <div>
              <label for="firstName">First Name</label>
              <p name="firstName">{{customer.firstName}}</p>
          </div>
          <div>
              <label for="lastName">Last Name</label>
              <p name="lastName">{{customer.lastName}}</p>
          </div>
        </div>
        <div class="form-group">                            
            <label for="address">Address</label>                   
            <p name="address">{{customer.address}}</p>
        </div>
        <div class="form-group">                            
            <label for="city">City</label>                   
            <p name="city">{{customer.city}}</p>
        </div>
          <div class="form-group form-group-inline">
            <div>
              <label for="state">State</label>
              <p name="state">{{customer.state}}</p>
            </div>
            <div>
              <label for="postalCode">Postal Code</label>
              <p name="postalCode">{{customer.postalCode}}</p>
            </div>
            <div>
                <label for="country">Country</label>
                <p name="country">{{customer.country}}</p>
              </div>
          </div>
          <div class="form-group">                            
            <label for="phoneNumber">Phone Number</label>                   
            <p name="phoneNumber">{{customer.phoneNumber}}</p>
          </div>
        <div class="pl-0">
            <a class="mb-2">
              <button class="general-button-black" (click)="clearForm()">Clear Data</button>
            </a>
        </div>
        </form>
      </div>
    </div>
    <div class="cards-grid col-lg-6 col-md-12">
      <div class="records-row" *ngFor="let customer of customers">
        <div class="records-row-details" (click)="populateForm(customer)" >
          <span>{{ customer.firstName }} {{customer.lastName}}</span>
        </div>
      </div>
    </div> 

  </div>
</div>

