<div class="form-wrapper">

  <ng-container [formGroup]="userForm">

    <!-- basic info -->
    <app-form-one formGroupName="basicInfo"></app-form-one>

    <!-- address info -->
    <app-form-two formGroupName="address"></app-form-two>

    <pre style="margin-top:50px; border: 1px solid red; width: fit-content">
      {{userForm.value | json}}
    </pre>

  </ng-container>

</div>



<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder">
  <mat-icon matPrefix>person</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder" type="password">
  <mat-icon matPrefix>visibility_off</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder" type="password">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>



<mat-form-field appearance="outline">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option value="1">
      one
    </mat-option>
    <mat-option value="2"> 
      two
    </mat-option>
    <mat-option value="3">
      three
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="row">
  <div class="col-6">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>

</div>

