<div class="row">
    <div class="col-lg-2 col-md-12">
        <nav class ="navbar dashboard-nav pt-0">
            <ul class ="nav navbar-nav dashboard-nav-ul pt-0">
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/artists']"><i class="fa-solid fa-person"></i> Artists</a>
                </li>
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/artwork']"><i class="fa-solid fa-paintbrush"></i> Artwork</a>
                </li>
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/artstyles']"><i class="fa-solid fa-palette"></i> Artstyles</a>
                </li>
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/galleries']"><i class="fa-solid fa-building"></i> Galleries</a>
                </li>
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/customers']"><i class="fa-solid fa-person"></i> Customers</a>
                </li>
                <li class ="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/admin/dashboard/invoices']"><i class="fa-solid fa-receipt"></i> Invoices</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-10">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
