.dashboard-nav {
    height: 100vh;
    background-color: rgb(54, 112, 113);
    align-items: baseline !important;
    box-shadow: 1px 0px 0px 0px #a9a9a9;
}

.nav-item {
    padding: 1em;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size:large;
}

.active {
    background-color: rgb(46, 96, 97);
}

.dashboard-nav-ul {
    width: 100%;
}