<div class="container pb-5">
    <div class="pb-3">
        <h2>Registration</h2>
        <h5>Please enter your details below</h5>
    </div>
    <div class="cards-container row">
      <div class="cards-form col-lg-6 col-md-6 col-sm-12 col-12">
        <form #form="ngForm" (ngSubmit)="createCustomer()">         
        <div class="form-group form-group-inline-half">
          <div>
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" [(ngModel)]="customer.firstName">
          </div>
          <div>
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" [(ngModel)]="customer.lastName">
          </div>
        </div>
        <div class="form-group form-group-inline-half">
          <div>
              <label for="userName">Username</label>
              <input type="text" name="userName" [(ngModel)]="customer.userName">
          </div>
          <div>
              <label for="password">Password</label>
              <input type="text" name="password" [(ngModel)]="customer.password">
          </div>
        </div>
        <div class="form-group">                            
            <label for="address">Address</label>                   
            <input type="text" name="address" [(ngModel)]="customer.address">
        </div>
        <div class="form-group">                            
            <label for="city">City</label>                   
            <input type="text" name="city" [(ngModel)]="customer.city">
        </div>
          <div class="form-group form-group-inline">
            <div>
              <label for="state">State</label>
              <input type="text" name="state" [(ngModel)]="customer.state">
            </div>
            <div>
              <label for="postalCode">Postal Code</label>
              <input type="text" name="postalCode" [(ngModel)]="customer.postalCode">
            </div>
            <div>
                <label for="country">Country</label>
                <input type="text" name="country" [(ngModel)]="customer.country">
              </div>
          </div>
          <div class="form-group">                            
            <label for="phoneNumber">Phone Number</label>                   
            <input type="text" name="phoneNumber" [(ngModel)]="customer.phoneNumber">
        </div>
        <div class="pl-0">
            <a [routerLink]="['/']" class="mr-3 mb-2 pb-3">
              <button class="general-button-green" (click)="createCustomer()">Create Account</button>
            </a>
            <a [routerLink]="['/']" class="mb-2">
              <button class="general-button-black">Cancel</button>
            </a>
        </div>
        </form>
      </div>
    </div>
  </div>