<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">
                <h4>ArtLocal</h4>
            </a>
            <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="navbar-user-container">
                    <p class="white-text">Welcome {{this.currentName}}!</p>
                    <a class="text-link" [routerLink]="['/']" (click)="logOut()">
                        <p>Log Out</p>
                    </a>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <a class="text-link" [routerLink]="['/login']">
                    <p>Log In</p>
                </a>
            </ng-template>
        </div>
    </nav>
</header>