ul {
    padding-left: 0 !important;
}

.artwork-nav li {
    display: inline !important;
}

.artwork-nav li a{
    text-decoration: none;
    font-style: none;
    color: black;
    padding: 10px;
}

.active {
    border:1px solid #dcdcdc;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
}