<mat-sidenav-container>
  <mat-sidenav #sidenav 
               class="no-v-scroll" 
               [mode]="isLargeScreen() ? 'side' : 'over'"  
               [autoFocus]="false"
               opened="true"
               [style.width]="sidenavWidth"
               [ngClass]="{'full-screen-transition' : isLargeScreen()}"
               (click)="checkSidenav()">

    <div class="nav-container">
      <div class="navigation">
        <ul>
          <li>
            <span *ngIf="showTitles" class="logo-title d-flex align-items-center"><h2>ArtLocal</h2></span>
            <span *ngIf="!showTitles" class="logo-title-sm d-flex justify-content-center align-items-center"><h2>AL</h2></span>
          </li>

          <li *ngIf="showTitles" >
            <span class="top-title d-flex align-items-center"><h6>NAVIGATION</h6></span>
          </li>

          <li [routerLinkActive]="['active']" class="side-nav-link">
            <a [routerLink]="['/admin/dashboard/artists']">
              <span class="icon"><i class="fa-solid fa-person"></i></span>
              <span *ngIf="showTitles" class="title d-flex align-items-center"><h4>Artists</h4></span>
            </a>
          </li>

          <li>
            <mat-expansion-panel *ngIf="showTitles">
              <mat-expansion-panel-header>
                <span class="expanded-icon"><i class="fa-solid fa-paintbrush"></i></span>
                <span class="expanded-title d-flex align-items-center"><h4>Artwork</h4></span>
              </mat-expansion-panel-header>

              <div class="expansion-body">
                <a [routerLink]="['/admin/dashboard/artwork/new']" [routerLinkActive]="['expanded-active']">
                  <span class="title expanded-link">New Artwork</span>
                </a>
                <a [routerLink]="['/admin/dashboard/artwork/existing']" [routerLinkActive]="['expanded-active']">
                  <span class="title expanded-link">Existing Artwork</span>
                </a>
              </div>
            </mat-expansion-panel>

            <a *ngIf="!showTitles" class="hoverable">
              <span class="expanded-icon"><i class="fa-solid fa-paintbrush"></i></span>
            </a>
          </li>

          <li [routerLinkActive]="['active']" class="side-nav-link">
            <a [routerLink]="['/admin/dashboard/artstyles']">
              <span class="icon"><i class="fa-solid fa-palette"></i></span>
              <span *ngIf="showTitles" class="title d-flex align-items-center"><h4>Artstyles</h4></span>
            </a>
          </li>

          <li [routerLinkActive]="['active']" class="side-nav-link">
            <a [routerLink]="['/admin/dashboard/galleries']">
              <span class="icon"><i class="fa-solid fa-building"></i></span>
              <span *ngIf="showTitles" class="title d-flex align-items-center"><h4>Galleries</h4></span>
            </a>
          </li>

          <li [routerLinkActive]="['active']" class="side-nav-link">
            <a [routerLink]="['/admin/dashboard/customers']">
              <span class="icon"><i class="fa-solid fa-person"></i></span>
              <span *ngIf="showTitles" class="title d-flex align-items-center"><h4>Customers</h4></span>
            </a>
          </li>

          <li [routerLinkActive]="['active']" class="side-nav-link">
            <a [routerLink]="['/admin/dashboard/invoices']">
              <span class="icon"><i class="fa-solid fa-receipt"></i></span>
              <span *ngIf="showTitles" class="title d-flex align-items-center"><h4>Invoices</h4></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow main-nav">
      <div class="container-fluid">
        <div class="sidebar-toggle" (click)="setSidenav()">
          <i class="fa-solid fa-bars navbar-icon"></i>
        </div>

        <div *ngIf="adminLoggedIn; then adminLoggedInBlock else adminLoggedOutBlock"></div>
        <ng-template #adminLoggedInBlock>
          <div class="navbar-menu row">
            <div class="col-4">
              <i class="fa-solid fa-gear navbar-icon" [matMenuTriggerFor]="menu"></i>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
            <div class="col-4">
              <i class="fa-solid fa-ellipsis-vertical navbar-icon"></i>            
            </div>
            <div class="col-4">
              <h4 [matMenuTriggerFor]="logoutMenu" class="navbar-title">
                Menu
              </h4>
              <mat-menu #logoutMenu="matMenu">
                <button mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>
                  Sign Out
                </button>
              </mat-menu>
            </div>
          </div>
        </ng-template>
        <ng-template #adminLoggedOutBlock>
        </ng-template>
      </div>
    </nav>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



