
<div class="container">
    <div class="pb-5">
        <h2>Our Current Selection</h2>
        <h5>Selected works by our most popular Artists</h5>
    </div>
    <div class="row">
        <div *ngFor="let artwork of artworks" class="text-center col-lg-3 col-md-3 col-sm-12 col-12 pb-5">
            <div class="pb-2">
                <a class="hoverable" [routerLink]="['/details']" [queryParams]="{artworkId: artwork.artworkId}">
                    <img class="card-img-top" src={{artwork.imageLocation}}>
                </a>
                <h5>{{artwork.title}}</h5>
            </div>
        </div>
    </div>
</div>

